body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #EAE3DC;
}

.background-image {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    max-width: 500%;
    max-height: 500%;
    width: auto;
    height: auto;
}

.background-image img {
    max-width: 904px;
    max-height: 904px;
    width: auto;
    height: auto;
}

.container {
    position: relative;
    z-index: 1;
    left: 5%;
    padding: 20px;
    border-radius: 10px;
}

.logo {
    width: 300px;
    height: auto;
    margin: 0 auto 20px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 16px;
}

.input-group button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.input-group button:hover {
    background-color: #f0f0f0;
}

.additional-options {
    margin-top: 10px;
}

.additional-options span {
    color: #555;
}

.additional-options a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
}

.additional-options a:hover {
    text-decoration: underline;
}
