<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/authorization.css') }}">
    <script src="{{ url_for('static', filename='js/authorization.js') }}"></script>
</head>
<body>
    <div class="background-image">
        <img src="{{ url_for('static', filename='images/Rectangle 24.png') }}" alt="Your Image">
    </div>
    <div class="container">
        <img src="{{ url_for('static', filename='images/logo 1.png') }}" alt="Your Image">

        <h2>Авторизация</h2>
        <form action="{{ url_for('authorize') }}" method="post">
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="input-group">
                <input type="password" id="password" name="password" placeholder="Пароль" required>
            </div>
            <div class="input-group">
                <button type="submit">Войти</button>
            </div>
        </form>
        <div class="additional-options">
            <span>Нет аккаунта?</span>
            <a href="{{ url_for('registration') }}">Зарегистрироваться</a>
        </div>
    </div>
</body>
</html>
