<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Урок</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lessons_inf.css') }}">
    <script src="{{ url_for('static', filename='js/lessons_inf.js') }}"></script>
</head>
<body>
    <div class="header-divider"></div>
    <div class="container">
        <header>
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo 1.png') }}" alt="Your Image">
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Домой</a></li>
                    <li><a href="{{ url_for('courses') }}">Курсы</a></li>
                    <li><a href="{{ url_for('about_us') }}">О нас</a></li>
                    <li><a href="{{ url_for('contacts') }}">Контакты</a></li>
                    <li><a href="{{ url_for('my_courses') }}">Мои курсы</a></li>
                </ul>
            </nav>
            <div class="logout">
                <a href="{{ url_for('authorization') }}">Выйти из аккаунта</a>
                <img src="{{ url_for('static', filename='images/Rectangle 46.png') }}" alt="Your Image">
            </div>
        </header>
        <main>
            <h1 class="lesson-title">Пример урока</h1>
            <div class="lesson-content">
                <p>Этот урок предназначен для того, чтобы вы научились использовать HTML и CSS для создания красивых веб-страниц. На уроке мы рассмотрим основы HTML и CSS, а также покажем примеры их применения.</p>
                <p>HTML (HyperText Markup Language) - это язык разметки, который используется для создания структуры веб-страниц. С помощью HTML мы определяем содержимое страницы, такое как текст, изображения и ссылки.</p>
                <p>CSS (Cascading Style Sheets) - это язык стилей, который используется для оформления внешнего вида веб-страниц. С помощью CSS мы задаем цвета, шрифты, отступы и другие стилевые свойства элементов страницы.</p>
                <p>На уроке мы также рассмотрим базовые концепции веб-дизайна и принципы создания красивых и удобных пользовательских интерфейсов.</p>
            </div>
        </main>
        <footer>
            <p>© 2024 TalkTrail</p>
        </footer>
    </div>
</body>
</html>
