<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Уроки курса</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lessons.css') }}">
</head>
<body>
    <div class="header-divider"></div>
    <div class="container">
        <header>
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo 1.png') }}" alt="Your Image">
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Домой</a></li>
                    <li><a href="{{ url_for('courses') }}">Курсы</a></li>
                    <li><a href="{{ url_for('about_us') }}">О нас</a></li>
                    <li><a href="{{ url_for('contacts') }}">Контакты</a></li>
                    <li><a href="{{ url_for('my_courses') }}">Мои курсы</a></li>
                </ul>
            </nav>
            <div class="logout">
                <a href="{{ url_for('authorization') }}">Выйти из аккаунта</a>
                <img src="{{ url_for('static', filename='images/Rectangle 46.png') }}" alt="Your Image">
            </div>
        </header>
        <main>
            <h1 class="about-heading">Доступные уроки:</h1>
            <div class="lesson-cards">
                {% for lesson in lessons %}
                    <a href="{{ url_for('lesson_info', lesson_id=lesson.id) }}" class="lesson-link">
                        <div class="lesson-card">
                            <h2>{{ lesson.title }}</h2>
                            <p>{{ lesson.description }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </main>
        <footer>
            <p>© 2024 TalkTrail</p>
        </footer>
    </div>
</body>
</html>
